<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Official Website of Anders Chen - Software Engineer &amp;amp; Entrepreneur.">
        <meta name="keywords" content="anders, chen, andy, chen, software, software engineer, entrepreneur, software developer, nodeJS, PHP , Java, Javascript , ExactTarget, Slingshot SEO, digitalRelevance , Ooyala , Rose-Hulman, technology , TBC Global , andy chen, anders chen, computer science, computers , computer scientist, programmer, yelp, linkedIn">
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/icons.css">
        <link rel="stylesheet" href="/css/pure.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript">
          $(function(){
            $('.mail-icon').click(function(){
              if ($('.mail_desc').hasClass("active")){
                $('.mail_desc').hide();
                $('.mail_desc').removeClass("active");
              } else {
                $('.mail_desc').show();
                $('.mail_desc').addClass("active");
              }
            })
          })
        </script>
    </head>
    <body>

        <div class="site" class="pure-g">
          <div class="sidebar pure-u-med-1-4">
            <div class="header">
              <h2>{{ site.name }}</h2>
              <div class="me_desc">
                Software Engineer @ Ooyala
              </div>
              <div class="social_desc">
                <a class="mail-icon" alt="Email"><span class="icon-mail"></span></a>
                <a href="http://www.linkedin.com/in/anderschen" alt="LinkedIn"><span class="icon-linkedin"></span></a>
                <a href="http://www.yelp.com/user_details?userid=R9Ek3DW06t_hpIjWzovfMw" alt="Yelp"><span class="icon-yelp"></span></a>
                <a href="http://github.com/chen-anders" alt="Github"><span class="icon-github"></span></a>
              </div>
              <div class="mail_desc" style="display:none;">
                <span style="unicode-bidi:bidi-override; direction: rtl;">
                  moc.nehcsredna@liam :liamE
                </span>
              </div>

            </div>
          </div>
          <div class="content pure-u-med-3-4">
            {{ content }}
          </div>
        </div>

    </body>
</html>
